.img-thumbnail img{
    width: 100%;
}

.img-thumbnail{
    padding: 0;
}

.img-thumbnail .caption-full{
    padding: 9px;
}

.space{
    margin-top: 30px;
}

#delete-form{ 
    display: inline;
}

#image-size{
    width: 250px;
    height: 150px;
}